*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: Rubik;
    line-height: 1;
    font-weight: 400;
    max-width: 1440px;
}


.top-header{
    background-color: #213786;
    width: 100%;
    height: 39px;
left: 0px;
top: 0px;
border-radius: 0px;
}

.inline-top-header{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 35%;
    width: 500px;
    height: 30px;
}

.inline-top-header h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 1%;
    font-size: 14px;
    line-height: 30px;
    font-weight: 800;
    color: #FFFFFF;
}

/* Header of menu */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5FDFF 80%;
    height: 67px;
    width: 100%;
    box-shadow: 0px 2px 4px 0px #0000000F;

    background: rgba(245, 253, 255, 0.8);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
    backdrop-filter: blur(28px);
}

.logo{
    color: #213786;
    text-decoration: none;
    list-style: none;
    margin-left: 15%;
    position: relative;
    left: 55%;
}

.star{
    position: absolute;
    width: 10.28px;
    height: 10.18px;
    left: 98%;
    bottom: 56.62%;
}

.main-nav-list{
display: flex;
list-style: none;
align-items: center;
gap: 4.8rem;
margin-left: -25%;
margin-top: 1.5%;
}

.main-nav-link:link,
.main-nav-link:visited{
    font-family: Mont;
    display: inline-block;
    text-decoration: none;
    color: #213786;
    font-weight: 700;
    font-size: 16px;
    line-height: 21.1px;
    transition: all 0.3s;
    padding: 0 12px;
}

.nav-cta:link,
.nav-cta:visited{
    padding: 1.2rem 2.4rem;
    border-radius: 60px;
    width: 165px;
    height: 42px;
    text-align: center;
    align-items: center;
    font-size: 14px;
    color: white;
    background-color:  #197AFF;
    margin-left: 75%;
}

/*  End of the header menu */

/* Sticky navigation */

.sticky .header{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 67px;
    padding-top: 0;
    padding-bottom: 0;
    z-index: 999;
}

/* Hero section */

.section-hero{
    background-color: #FBFBFB;
    padding: 4.8rem 0 9.6rem 0;
}

.heading-primary{
    font-family: "Mont";
    font-style: normal;
    width: 911px;
    height: 57px;
    color: #213786;
    margin-top: 20px;
    margin-left: 92px;
    font-size: 42px;
    font-weight: 600;
    line-height: 55.39px;
}

.heading-span{
    color: #197AFF;
    /* position: relative; */
}

.stroke{
    display: inline-table;
    margin-left: 1%;
}

.heading-description{
    font-family: "Mont";
    width: 731px;
    height: 67px;
font-weight: 500;
font-size: 20px;
line-height: 28px;
margin-left: 92px;
margin-top: 15px;
font-size: 18px;
}

.heading-description span{
    display: none;
}

.machine{
    display: flex;
    margin-left: 66%;
    margin-top: -2%;
    width: 391px;
    height: 241px;
}

/* Grid Section */

.light{
    display: flex;
}

.container{
    position: absolute;
    top: 344px;
    left: 92px;
    max-width: 720px;
    height: 180px;
    padding: 0 18px;
    margin: 0 auto;
    background: rgba(174, 204, 255, 0.1);
    border: 1px solid rgba(174, 204, 255, 0.5);
    border-radius: 10px; 
}

.grid{
    display: grid;
    column-gap: 6.2rem;
    row-gap: 6.5rem;
}

.grid--4-cols{
    grid-template-columns: repeat(4,1fr);
}

.lightning{
    
    width: 100%;
}

.feature-icon{
    display: flex;
    justify-content: center;
    text-align: center;
   align-items: center;
   margin-left: 35%;
   margin-top: 15px ;
}

.feature-title{
    width: 100%;
color:  #11346F;
text-align: center;
font-size: 13px;
line-height: 20px; 
margin-top: 19%;
}


.feature-text li{
    font-size: 11px;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    margin-top: 10%;
}


.button-sect{
    display: flex;
    flex-direction: column;
    margin-top: 6%;
    row-gap: 2rem;
}

.get-button{
    width: 408px;
    height: 63px;
    background: #197AFF;
border-radius: 60px;
color: #FFFFFF;
font-size: 18px;
font-weight: 800;
align-items: center;
margin-left: 92px;

}

.bundles-button{
   
    width: 255px;
height: 34px;
background:rgba(77, 145, 207, 0.15);
border-radius: 30px;
text-align: center;
align-items: center;
margin-left: 11%;
border: none;
color: rgba(0, 0, 0, 1);
font-weight: 500;
font-size: 15px;
}

.price{
    color: rgba(25, 122, 255, 1);
}

.buyer{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-left: 66%;
    margin-top: -5%;
    width: 393px;
    height: 81px;
    background: rgba(234, 242, 255, 0.1);
border: 1px solid rgba(174, 204, 255, 0.5);
border-radius: 110px;

}

.profile-pic{
    width: 64px;
    height: 64px;
    margin-top: 2%;
    margin-left: 3%;
}

.quote{
    width: 222px;
    height: 34px;
    font-size: 11px;
    font-weight: 700;
    line-height: 17px;
    color: rgba(0, 0, 0, 1);
    margin-left: 4%;
    margin-top: 3%;
    
}


.stars{
    display: flex;
    margin-top: 13%;
    margin-left: -50%;
    
  
}

.rate{
    width: 15.9px;
    height: 13.9px;
    color: #F6C644;
    border-radius: 0.5px;
    cursor: pointer;
}
/* Debra N */

.name{
    font-family: "Montserrat";
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    color:  #787979;
    padding: 0 7px;
    width: 100px;
}

/* Check Mark */


.verify{
    display: flex;
    margin-top: 13%;
    width: 150px;
    height: 15px; 
    margin-left: -3%;
    position: relative;
}

.check-mark{
    width: 15.83px;
    height: 15.83px;
   position: absolute;
   left: -7%;
   color: white;
   font-weight: bold;
}

.verif-buyer {
margin-top: 2%;
    padding-left: 12px;
    font-weight: 800;
    line-height: 14.61px;
    font-size: 11px;
    align-items: center;
    color: #197AFF;
}

/*End of the section-hero  */
/* ---------------------- */

/* Section-2 */

.header-section2{
    width: 100%;
    height: 97px;
    background: #11346F;
backdrop-filter: blur(4px);
}


.top-nav{
    display: flex;
    justify-content: center;
}

.offers{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.offer{
    display: flex;
    align-items: center;
    gap: 2.6rem;
    padding: 24px 12px;
}

.offers-mobile{
    display: none;
}

.span-icon{
    width: 50px;
    height: 50px;
    background-color:  #FFFFFF;
    border-radius: 50%;
    position: relative;
    left: 3%;
}

.offer-icon{
  
    position: absolute;
    top:20%;
    left: 20%;
 width: 33px;
 height: 27.5px;
 
}

.offer-icons-star{

    position: absolute;
    top: 17%;
    left: 12%;
    width: 33px;
    height: 32.5px;
    
}

.offer-icons-star{
    width: 37px;
    height: 37px;
}

.offer h2{
    width: 351px;
    height: 30px;
    font-family: "Mont";
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 30px;
    color:  #FFFFFF;
}

/* End */
/* -------------- */

/* Start */

.title-section2{
    width: 100%;
    height: 770px;
    background: linear-gradient(118.72deg, #AECCFF -18.14%, #197AFF 165.34%);
}

.title-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 33%;
    padding-top: 3%;
    gap: 0.8rem;
}

.title{
    width: 425px;
    height: 49px;
    font-weight: 700;
    font-size: 37px;
    line-height: 49px;
    color: #11346F;;
}

.title-h3{
    width: 360px;
    height: 50px;
    font-weight: 900;
    margin-left: 3%;
    font-size: 37px;
    line-height: 50px;
    color: #FFFFFF;
}

.white-line{
    width: 303px;
    height: 6px;
    margin-left: 7%;
}

.grid2{
    display: grid;
}


.grid--3-cols{
    grid-template-columns: repeat(3,0.2fr);
}

.offer-to-buy{
    width: 368px;

    margin-top: 13%;
    margin-left: 30%;
    border-radius: 18px;
    border: 1.5px solid #197AFF;
}

.offer-to-buy1{
    height: 530px;
    opacity: 0.7;
    background: #F6F8FC;
}

.offer-to-buy2{
height: 530px;

background: linear-gradient(180deg, #FFFFFF 0%, #D7E6FF 100%);
/* Blue Primary */
border: 1.5px solid #197AFF;
border-radius: 18px;
}


.machine-img{
    width: 133px;
    height: 100px;
    margin-left: 30%;
    margin-top: -5%;
}

.machine1-img{
    width: 133px;
    height: 100px;
    margin-left: 30%;
    margin-top: -5%;
    opacity: 1;
}

.machine2-img{
    width: 216px;
    height: 100px;
    margin-left: 20%;
    margin-top: -6%;

}
.offer-title{
    display: flex;
    justify-content: center;
    margin-top: 13%;
}


.offer2-title{
margin-left: 3%;
color: #197AFF;
}

.offer2-tag{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-left: 18%;
  
}

.offer2-tag h4{
    display: flex;
    justify-content: center;
    width: 126px;
    height: 28px;
    background-color: #57AC73;
border-radius: 50px;
text-align: center;
align-items: center;

}

.offer2-tag img{
    width: 47.49px;
    height: 65.17px;
   color: #197AFF;
margin-top: -8%;
margin-left: 4%;
}

.offer2-content{
    margin-top: -15%;
}

.offer2-sales{
    display: flex;
}

.offer2-price-right{
    width: 124px;
    height: 43px;
    font-weight: 800;
    font-size: 32px;
    font-family: "Mont";
    font-style: normal;
    line-height: 42px;
    text-align: center;
    text-decoration: line-through;
    color: #93A2BB;
}

.offer-title{
    width: 304px;
    height: 37px;
    margin-left: 5%;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;
    color: #11346F;
}

.offer-offer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    row-gap: 1rem;
    margin-top: 5%;
}

.offer2-offer{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: 16%;
    margin-top: 4%;
}

.offer-price{
    width: 124px;
    height: 43px;
    font-family: "Mont";
    font-weight: 900;
    font-size: 32px;
    line-height: 43px;
    text-align: center;
    color:  #11346F;
}

.offer2-price-left{
    width: 124px;
    height: 43px;
    font-family: "Mont";
    font-weight: 900;
    font-size: 32px;
    line-height: 43px;
    text-align: center;
    color:  #11346F;
}

.free-shipping{
    width: 94px;
    height: 16px;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #11346F;
}

.free2-shipping{
    width: 94px;
    height: 16px;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #11346F;
    margin-top: 53%;
    margin-left: -245%;

}

.money-back{
    display: flex;
    justify-content: center;
    margin-top: 8%;
    gap: 1rem;
    border: none;
}

.money-back p{
    width: 113px;
    height: 15px;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #11346F;
    margin-top: 2%;
}

.money-back img{
    width: 23px;
    height: 23px;   
    border:1px solid #197AFF;
}

.interest-free{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.interest2-free{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: -5%;
}
.interest2-free h3{
    width: 257px;
    height: 16px;
    font-family: "Mont";
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    text-transform: capitalize;
    margin-top: 12%;
    margin-left: 6%;
    color: #11346F;
}

.offer2-orders{
    width: 331px;
    height: 83px;
    margin-top: 5%;
    margin-left: 5%;
background: linear-gradient(180deg, #FFFFFF 0%, #D7E6FF 100%);
/* Blue Primary */

border: 1.5px solid #197AFF;
border-radius: 18px;
}

.offer2-order{
    /* width: 100%; */
    display: flex;

   
}

.offer2-save{
    display: flex;
justify-content: center;
    width: 332px;
text-align: center;
align-items: center;
margin-top: -2px;
margin-left: -2px;
}

.offer2-save h1{
    width: 215px;
    height: 43px;
    background: #BFF5BE;
    border: 1px solid #99D298;
    border-radius: 48px;
font-size: 12px;
font-weight: 800;
font-style: normal;
color: #11346F;
line-height: 16px;
padding: 13px 0;
}

.offer2-moneyback-container{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 271px;
    height: 43px;
border-radius: 80px;
margin-left: 4%;


}

.offer2-moneyback-container img{
    width: 23px;
    height: 23px;
    margin-top: 7%;
    
}

.offer2-moneyback{
    margin-top: 9%;
    height: 15px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #11346F;
    padding: 0 12px;
}

.offer2-orders-price h4{
    font-family: "Mont";
    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    line-height: 17px;
    color: #11346F;
    margin-left: 23%;
    margin-top: 3%;
}
.interest-free h3{
    width: 257px;
    height: 16px;
    font-family: "Mont";
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    text-transform: capitalize;
    margin-top: 8%;
    margin-left: 6%;
    color: #11346F;


}

.tag{
    width: 77px;
    height: 17.11px;
    border-radius: 40px;
    background: #BCF5E3;
    text-align: center;
    align-items: center;
    position: absolute;
    left: 75%;
    top: 75%;
}

.tag2{
    width: 77px;
    height: 17.11px;
    border-radius: 40px;
    background: #BCF5E3;
    text-align: center;
    align-items: center;
    margin-left: 75%;
    margin-top: -4.3%;
}

.offer-button{
    width: 331px;
    height: 53px;
    border-radius: 60px;
    background: #197AFF;
box-shadow: 0px 7px 14px rgba(25, 122, 255, 0.5);
font-size: 18px;
font-weight: 800;
line-height: 24px;
text-align: center;
color:  #FFFFFF;
    margin-top: 12%;
    margin-left: 4%;
}

.payements-container{
    display: flex;
    margin-left: 8%;
    margin-top: 7%;
}

/* End section */

/* Start section */
.grid3{
    display: grid;
      column-gap: 2.2rem;
    row-gap: 1.5rem;
}

.grid--5-cols{
    grid-template-columns: repeat(4,1fr);
}

.section3-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 722px;
    background: #F6F8FC;
}

.single-info-container{
    width: 285px;
    height: 472px;
    background: #FFFFFF;
border: 1px solid #E9E9E9;
border-radius: 10px;
margin-top: 40%;
margin-left: -10%;
}

.section3-title-div{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.section3-title{
    width: 682px;
    height: 50px;
    font-style: normal;
    font-size: 37px;
    line-height: 48.8px;
    font-weight: 600;
    color: #11346F;  
}

.section3-stars{
    position: absolute;
   margin-top: 5%;
   margin-left: -73%;
}

.section3-stars img{
    width: 17.37px;
    height: 17.37px;
    color: #F6C644;
    font-weight: bold;
    position: relative;
}

.total-reviews{
    width: 230px;
    height: 19px;
    font-family: "Mont";
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #11346F;
    position: absolute;
   
}

.blue-color{
    width: 682px;
    height: 50px;
    font-weight: bold;
    font-size: 40px;
    line-height: 48.8px;
    color: #197AFF;
    position: relative;
}

.blue-line{
    width: 226px;
    height: 6px;
    color:  #197AFF;
   position: absolute;
   top: 120%;
   left: -10%;
}

.top-info h4{
    width: 67px;
    height: 19px;
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    color: #11346F;
    margin-top: 2%;
    margin-left: 6%;
    position: relative;
}

.section3-starss{
    margin-left: 6%;
}
.section3-starss img{
    width: 14px;
    height: 14px;
    color: #F6C344;
    margin-top: 5%;
}

.top-info-div{
    display: flex;
    justify-content: center;
}

.top-info-div p{
    font-size: 11px;
    margin-top: -5%;
    margin-left: 2%;
    height: 15px;
    font-weight: 800;
    text-align: center;
    color: #89C25F;
    
}

.check-buyer{
    width: 17.5px;
    height: 17.5px;
    color: #89C25F;
    margin-left: 35%;
    margin-top: -6.5%;
}

.description{
    width: 250px;
    height: 226px;
    font-family: "Mont";
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 26px;
    color: #262626;
    margin-top: 4%;
    margin-left: 6%;
}

/* end of the section-3 */


/* start of the section-4 */

.faq-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 616px;
    background-color:  #11346F;
}

.faq-title{
    display: flex;
    justify-content: center;
}

.faq-title h1{
    position: relative;
    width: 544px;
    height: 50px;
    font-family: "Mont";
    font-style: normal;
    font-size: 37px;
    line-height: 49px;
    margin-top: 2%;
    color: #FFFFFF;    ;
}

.faq-title img{
    position: absolute;
    width: 226px;
    height: 6px;
    margin-top: 5%;
    margin-left: 7%;
}

.faq-img{
    width: 476px;
    height: 398px;
    border-radius: 10px;
    background: url(./img/Rectangle\ 1662.png);
    margin-left: 5%;
    margin-top: 10%;
}

.questions{
    font-size: 39px;
    font-weight: bold;
}

.grid4{
    display: grid;
    column-gap: 2.2rem;
    row-gap: 1.5rem;
}

.grid--2-cols{
    grid-template-columns: repeat(2,1fr);
}

.faq{
    width: 652px;
    height: 59px;
    margin-left: -15%;
    margin-top: 10%;
    border: 1px solid #31548E;
    border-radius: 9px 9px 0px 0px;
}

.question{
background-color: #194081;
height:59px;
position: relative;
margin-bottom: 4%;
border-radius: 9px;
border: 1px solid #31548E;
}

.question h3{
    font-family: "Mont";
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    position: absolute;
    top: 30%;
    left: 5%;

}

.question img{
    width: 15.84px;
    height: 7.1px;
    font-size: 16px;
    margin-left: 90%;
    margin-top: 4%;
}



.answer{
    width: 652px;
    height: 70px;
    background-color: #11346F;
    border: 1px solid #31548E;
border-radius: 9px;
margin-bottom: 3%;
opacity: 0;
}

.active .answer{
    max-height: 300px;
    opacity: 1;
    transition: all 1.3s ease;
    margin-top: 3%;
}




.faq1.active img{
    transform: rotate(180deg);
    transition: transform 0.5s ease-in;

}

.faq1.active{
    height: 126px;
    margin-bottom: 4%;
}




.answer p{
    font-family: "Mont";
font-style: normal;
font-size: 14px;
font-weight: 600;
line-height: 20px;
color: #AECCFF;
    margin-top: 4%;
    margin-left: 4.5%;
}

.all-faq{
    display: flex;
    justify-content: center;
}

.all-faq1{
    width: 130px;
    height: 40px;
    margin-top: 3.5%;
    margin-left: -75%;
}


.all-faq1 h6{
    font-family: "Mont";
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    color: #F6F8FC;
    position: absolute;
}

.all-faq1 img{
    width: 13px;
    height: 6px;
    color: white;
    font-weight: bold;
    margin-left: 70%;
   margin-top: 5%;
}

