
/* -------- */
/* Below 944px (Smaller tablets) */
/* -------- */


@media (max-width: 414px){
    
    html{
        font-size: 50%;
    }

    body{
        max-width: 415px;
    }

    /* start of the top-header */
    .top-header{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 39px;
        background-color: #11346F;
    }

    .inline-top-header{
        display: flex;
        justify-content: center;
        margin-left: -2%;
        width: 303px;
        height: 30px
    }
  
    .inline-top-header h1{
        font-size: 14px;
    }

    /* end of the top-header */

    /* start of the header */

    .header{
        width: 100%;
        display: flex;
        justify-content: center;

        height: 52px;
    }

    .logo{
        width: 146px;
        height: 22px;
        font-size: 18px;
        margin-left: -60%;
    }

    .main-nav{
        display: none;
    }

        /* end of the header */

        /* start of the section-hero */

        .hero{
            display: flex;
            justify-content: center;
            width: 100%;
            height: 687px;
            background-color:#F5FDFF;
           
        }

        .heading-primary{
            display: flex;
            width: 213px;
            height: 121px;
            font-family: "Mont";
            font-weight: 600;
            font-size: 26px;
            line-height: 30px;
            color: rgba(33, 55, 134, 1);
            position: absolute;
            /* top: -10%; */
            left: -20%;
        }
        .heading-span{
            position: absolute;
            top:70%;
            font-weight:bold;
        }

        .stroke{
            position: absolute;
            color: #197AFF;
        }


        .heading-description{
            display: flex;
            justify-content: center;
            width: 378px;
          height: 67px;
            margin-top: 40%;
            margin-left: 5%;
        }

   

        .heading-description p{
            display: none;
        }

        .heading-description span{
            margin-top: 5%;
            font-size: 14px;
            font-family: "Mont";
            line-height: 22px;
            font-weight: 700;
            align-items: center;
            color: #262626;
            display: flex;
            margin-top: 10%;
            text-align: center;
        }

        .machine{
            width: 174px;
            height: 107px;
            margin-top: -45%;
        }

        .img-machine{
            margin-left: -30%;
        }

        .container{
            width: 100%;
            margin-top: 6%;
            margin-left: -20%;
            background: none;
            border: none;
        }

        .feature{
            width: 60px;
        }

        .feature h1{
            text-align: center;
        }

        .feature-title{
            height: 30px;
            font-size: 12px;
            line-height: 15px;
            align-items: center;
            text-align: center;
                margin-left: 10%;

        }
        .feature-text{
            display: none;
        }

        .grid--4-cols{
            grid-template-columns: repeat(4,0.5fr);
            gap: 0.5px  
        }

        .get-button{
            display: flex;
            justify-content: center;
            text-align: center;
            margin-top: -85%;
            margin-left: 25px;
            width: 377px;
            height: 63px;
            background: #197AFF;
border-radius: 60px;
        }

        .bundles-button{
            margin-left: 20%;
            width: 228px;
            height: 34px;
            background: rgba(77, 145, 207, 0.15);
box-shadow: 0px 0px 14px #FFFFFF;
border-radius: 30px;
        }

        .buyer{
            width: 377px;
            height: 81px;
            background: rgba(234, 242, 255, 0.1);
border: 1px solid rgba(174, 204, 255, 0.5);
border-radius: 110px;
margin-left: 20px;
margin-top: -53%;
        }

        .header-section2{
            width: 100%;
            height: 101px;
        }

        .offers-nav{
            display: none;
        }

      .offers{
    display: none;
      }

      .offers-mobile{
        display: flex;
        justify-content: center; 
      }

      .offer-mobile{
        display: flex;
        flex-direction: column;
        padding: 22px 55px;
      }
      .offer-icon-star{
        width: 36px;
        height: 36px;
        
      }

      .span-icon-mobile{

        margin-left: 37%;
      }

      .offer-mobile h2{
        width: 150px;
        height: 36px;
        font-family: "Mont";
        font-style: normal;
        font-weight: 800;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        color: #FFFFFF;
      }

      .title-section2{
        width: 100%;
        height: 1655px;
        background: linear-gradient(118.72deg, #AECCFF -18.14%, #197AFF 165.34%);
      }

      .grid{
        display: grid;
      }

    .grid--3-cols{
        grid-template-columns: 1fr;
    }

    .title-container{
        width: 381px;
        height: 79px;
        margin-left: -2%;
        text-align: center;
       
    }

    .title{
        font-size: 30px;
        line-height: 39px;
        font-family: "Mont";
        font-weight: 700;
        align-items: center;
        text-align: center;
        color: #11346F;
        margin-top: 16%;
    }


    .title-h3{
        font-size: 30px;
        line-height: 39px;
        font-family: "Mont";
        font-weight: 900;
        align-items: center;
        text-align: center;
        color: white;
        margin-left: 10%;
    }

    .white-line{
        margin-left: 15%;
    }
    
    .offer-content{
        margin-top: -15%;
    }

    .offer-to-buy{
        width: 378px;
        height: 468px;
        margin-left: 18px;
        margin-top: 25%;
background: linear-gradient(180deg, #FFFFFF 0%, #D7E6FF 100%);
/* Blue Primary */

border: 1.5px solid #197AFF;
border-radius: 18px;
margin-bottom: -30%;
    }
}