
/* -------- */
/* Below 944px (Smaller tablets) */
/* -------- */


@media (max-width: 414px){
    
    html{
        font-size: 50%;
    }

    body{
        max-width: 415px;
    }

    /* start of the top-header */
    .top-header{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 39px;
        background-color: #11346F;
    }

    .inline-top-header{
        display: flex;
        justify-content: center;
        margin-left: -2%;
        width: 303px;
        height: 30px
    }
  
    .inline-top-header h1{
        font-size: 14px;
    }

    /* end of the top-header */

    /* start of the header */

    .header{
        width: 100%;
        display: flex;
        justify-content: center;

        height: 52px;
    }

    .logo{
        width: 146px;
        height: 22px;
        font-size: 18px;
        margin-left: -60%;
    }

    .main-nav{
        display: none;
    }

        /* end of the header */

        /* start of the section-hero */

        .hero{
            display: flex;
            justify-content: center;
            width: 100%;
            height: 687px;
            background-color:#F5FDFF;
           
        }

        .heading-primary{
            display: flex;
            width: 213px;
            height: 121px;
            font-family: "Mont";
            font-weight: 600;
            font-size: 26px;
            line-height: 30px;
            color: rgba(33, 55, 134, 1);
            position: absolute;
            /* top: -10%; */
            left: -20%;
        }
        .heading-span{
            position: absolute;
            top:70%;
            font-weight:bold;
        }

        .stroke{
            position: absolute;
            color: #197AFF;
        }


        .heading-description{
            display: flex;
            justify-content: center;
            width: 378px;
          height: 67px;
            margin-top: 40%;
            margin-left: 5%;
        }

   

        .heading-description p{
            display: none;
        }

        .heading-description span{
            margin-top: 5%;
            font-size: 14px;
            font-family: "Mont";
            line-height: 22px;
            font-weight: 700;
            align-items: center;
            color: #262626;
            display: flex;
            margin-top: 10%;
            text-align: center;
        }

        .machine{
            width: 174px;
            height: 107px;
            margin-top: -45%;
        }

        .img-machine{
            margin-left: -30%;
        }

        .container{
            width: 100%;
            margin-top: 6%;
            margin-left: -20%;
            background: none;
            border: none;
        }

        .feature{
            width: 60px;
        }

        .feature h1{
            text-align: center;
        }

        .feature-title{
            height: 30px;
            font-size: 12px;
            line-height: 15px;
            align-items: center;
            text-align: center;
                margin-left: 10%;

        }
        .feature-text{
            display: none;
        }

        .grid--4-cols{
            grid-template-columns: repeat(4,0.5fr);
            gap: 0.5px  
        }

        .grid--5-cols{
     grid-template-columns: repeat(2,1fr);
     overflow: hidden;
        }

        .section3-container{
            width:100%;
            height: 717px;
            background: #F6F8FC;
        }

        .section3-title-div{
            display: flex;
            justify-content: center;
            height: 81px;
        }

        .section3-title{
            font-family: "Mont";
            font-weight: 700;
            font-size: 30px;
            line-height: 39.57px;
            align-items: center;
            text-align: center;
            color: #11346F;
        }

        .blue-color{
            font-size: 30px;
        }

        .blue-line{
            width: 165px;
        }
     
    
        .section3-stars{
            display: flex;
            justify-content: center;
            margin-left: -52%;
            margin-top: 15%;
        }

        .section3-single-star{
            margin-left: -75%;
        }

        .total-reviews{
            margin-top: 30%;
            margin-left: -155%;
        }

        .dot-container{
            display: flex;
            justify-content: center;
            flex-direction: row;
            margin-left: 50%;
            margin-top: -15%;
        }

        .dot:first-child{
            width: 14px;
            height: 14px;
            background: #197AFF;
            border-radius: 50%;
        }

        .dot{
            display: flex;
            margin: 0 5px;
            width: 14px;
            height: 14px;
            background: #CBCED6;
            border-radius: 50%;
        }

        .single-mob{
            display: none;
        }

/* 
        .reviews-button button{
            width: 133px;
            height: 40px;
            background: #F6F8FC;
            border: 1px solid #213786;
            border-radius: 5px;
            font-family: "Gilroy";
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: #11346F;
        } */

        .single-info-container{
            margin-left:3%;
        }

   

        .get-button{
            display: flex;
            justify-content: center;
            text-align: center;
            margin-top: -85%;
            margin-left: 25px;
            width: 377px;
            height: 63px;
            background: #197AFF;
border-radius: 60px;
        }

        .bundles-button{
            margin-left: 20%;
            width: 228px;
            height: 34px;
            background: rgba(77, 145, 207, 0.15);
box-shadow: 0px 0px 14px #FFFFFF;
border-radius: 30px;
        }

        .buyer{
            width: 377px;
            height: 81px;
            background: rgba(234, 242, 255, 0.1);
border: 1px solid rgba(174, 204, 255, 0.5);
border-radius: 110px;
margin-left: 20px;
margin-top: -53%;
        }

        .header-section2{
            width: 100%;
            height: 101px;
        }

        .offers-nav{
            display: none;
        }

      .offers{
    display: none;
      }

      .offers-mobile{
        display: flex;
        justify-content: center; 
      }

      .offer-mobile{
        display: flex;
        flex-direction: column;
        padding: 22px 55px;
      }
      .offer-icon-star{
        width: 36px;
        height: 36px;
        
      }

      .span-icon-mobile{

        margin-left: 37%;
      }

      .offer-mobile h2{
        width: 150px;
        height: 36px;
        font-family: "Mont";
        font-style: normal;
        font-weight: 800;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        color: #FFFFFF;
      }

      .title-section2{
        width: 100%;
        height: 1655px;
        background: linear-gradient(118.72deg, #AECCFF -18.14%, #197AFF 165.34%);
      }

      .grid{
        display: none;
      }

    .grid--3-cols{
        display: none;
    }

    .grid-mobile{
       display: grid;
     
    }

    .grid--3-cols-mobile{
          grid-template-columns: 1fr;
    }

    .title-container{
        width: 381px;
        height: 79px;
        margin-left: -2%;
        text-align: center;
       
    }

    .title{
        font-size: 30px;
        line-height: 39px;
        font-family: "Mont";
        font-weight: 700;
        align-items: center;
        text-align: center;
        color: #11346F;
        margin-top: 16%;
    }


    .title-h3{
        font-size: 30px;
        line-height: 39px;
        font-family: "Mont";
        font-weight: 900;
        align-items: center;
        text-align: center;
        color: white;
        margin-left: 10%;
    }

    .white-line{
        margin-left: 15%;
    }
    
    .offer-content{
        margin-top: -15%;
    }

    .offer-to-buy{
        margin-left: 18px;
        margin-top: 25%;
background: linear-gradient(180deg, #FFFFFF 0%, #D7E6FF 100%);
/* Blue Primary */

border: 1.5px solid #197AFF;
border-radius: 18px;
margin-bottom: -20%;
    }

    .offer-to-buy1{
        width: 378px;
        height: 468px;
    }

    .offer-to-buy2{
        width: 378px;
        height: 468px;
    }


  

    .offer-title{
    font-size: 24px;
    
    }

    .offer2-title{
        font-size: 24px;
    
    }
    .offer2-price-left,
    .offer2-price-right{
        font-size: 25px;
    }

    .interest2-free{
        margin-top: -10%;
        margin-bottom: 4%;
    }

    .interest2-free h3{
        font-size: 11px;
        margin-left: 12%;
    }

    .offer-button-container{
       margin: 0 auto;
        margin-top: -3%;
    }

    .offer2-button{
        width: 353px;
        margin-left: 9.5px;
    }

    .payements-container{
        margin-top: -0.05%;
    }
    .payements{
        margin-top: 3%;
    }

    .offer2-orders{
        width: 353px;
        margin: 0 auto;
    }

    .faq-container{
        width: 100%;
        height: 1210px;
    }

    .faqs{
        width: 100%;
        height: 784px;
    }

    .faq-title{
        display: flex;
        justify-content: center;
        width: 260px;
        height: 96px;
        margin-left: 25%;
        margin-top: 5%;
    }

    .faq-title h1{
        font-family: "Mont";
        font-weight: 700;
        font-size: 30px;
        align-items: center;
        color: #FFFFFF;
    }

    .faq-title img{
        margin-left: -2%;
        margin-top: 25%;
    }

    .faq-img{
        width: 374px;
        height: 194px;
        border-radius: 10px;
    }
    .questions{
        text-align: center;
        align-items: center;
        font-size: 30px;
        margin-top: 50%;
        margin-left: 25%;
    }

    .grid--2-cols{
        display: grid;
        grid-template-columns: 1fr;
    }

    .faq{
        width: 378px;
        border: 1px solid #31548E;
        border-radius: 9px 9px 0px 0px;
    }
    .faq1{
        margin-left: 20%;
        width: 378px;
        height: 59px;
        margin-bottom:10%;
    }
    
    .question{
        display: flex;
        margin-bottom: 15%;
    }
.question h3{
    font-family: "Mont";
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    position: absolute;
    top: 30%;
    left: 5%;
} 


.answer {
    width: 378px;
    height: 59px;
    background-color: #11346F;
    border: 1px solid #31548E;
border-radius: 9px;
opacity: 0;
}

.active .answer{
    margin-left: -95%;
    margin-top: 15%;
}
.active .answer p{
    width: 378px;
    opacity: 1;
    transition: all 1.3s ease;
    margin-top: 3%;
    margin-left: -0.3%;
}

.all-faq1{
    margin-left: 45%;
}

}